#container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;

}

/* making wave */
.wave-one {
    top: 150px;
    display: flex;
    width: 900px;
    height: 800px;

    background-color: aqua;
    animation: wave 6s infinite;
    border-radius: 50%;
    z-index: -2;
}

@keyframes wave {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.wave-two {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: 800px;
    background-color: rgb(48, 180, 180);
    animation: gg 4s infinite;
    border-radius: 50%;
    z-index: -2;
}

@keyframes gg {


    100% {
        transform: rotate(360deg);
    }
}

.wave-three {
    margin-top: 10px;
    display: flex;
    width: 900px;
    height: 800px;
    background-color: rgb(15, 103, 103);
    animation: wave3 7s infinite;
    transition: ease-in-out;
    border-radius: 50%;
    z-index: -2;

}

@keyframes wave3 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.card {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    border: 1px solid navy;
    border-radius: 40px;
    width: 400px;
    flex-direction: column;
    overflow: hidden;

}

#weathercon {

    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.info {
    top: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 400px;

}

.fa-street-view {
    font-size: 30px;
    animation: move-right 2s infinite;


}

@keyframes move-right {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0);
    }
}

p {
    font-style: italic;
    font-weight: bold;
}